@import "tailwindcss";
@source "./**/*.{js,ts,jsx,tsx}";

@font-face {
  font-family: "Source Sans 3";
  src: url("./assets/fonts/SourceSans3-VariableFont_wght.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("./assets/fonts/SourceSans3-Italic-VariableFont_wght.woff2")
    format("woff2");
  font-weight: 200 900;
  font-style: italic;
}

:root {
  --color-primary: oklch(0.5774 0.2091 273.85);
  --color-primary-foreground: #ffffff;

  --color-secondary: #4e5058;
  --color-secondary-foreground: #ffffff;

  --color-success: #57f287;
  --color-success-foreground: #000000;

  --color-warn: #fee75c;
  --color-warn-foreground: #000000;

  --color-error: #ed4245;
  --color-error: #000000;

  --color-info: #00aff4;
  --color-info-foreground: #ffffff;

  --color-background: #1e1f22;
  --color-foreground: #dbdee1;

  --color-muted: #2b2d31;
  --color-muted-foreground: #949ba4;
}

@layer base {
  * {
    border-color: var(--color-gray-700);
  }

  body {
    font-family: "Source Sans 3", Helvetica, Arial, sans-serif;
    background-color: var(--color-gray-800);
    color: var(--color-gray-100);
  }

  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-gray-850);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-900);
    border-radius: 8px;

    :hover {
      background-color: var(--color-gray-950);
    }
  }
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);
  --color-success: var(--color-success);
  --color-success-foreground: var(--color-success-foreground);
  --color-warn: var(--color-warn);
  --color-warn-foreground: var(--color-warn-foreground);
  --color-error: var(--color-error);
  --color-error-foreground: var(--color-error-foreground);
  --color-info: var(--color-info);
  --color-info-foreground: var(--color-info-foreground);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);
}
